<html>
<head>
    <link href="~/css/mvc-grid.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/mvc-grid.js"></script>
    <script>
            $('.mvc-grid').mvcgrid();
    </script>
</body>
</html>